@import 'nib'

//Add some whitespace to the whole app
html, body
  margin 1em

//Make sure that images are fit to the column size
.image-col img
  max-width 100%
  text-align center
.image-col
  max-width 100%
  text-align center

//At some point the page becomes too big, keep it max to 1200px
.application-container
  max-width 1200px
  margin 0 auto

.row-desc
  text-align right

.saleprice-circle-key
  float right
  border-radius 50%
  width 16px
  height 16px
  background #A52A2A
  border: 3px solid #A52A2A;

.normalprice-circle-key
  float right
  border-radius 50%
  width 16px
  height 16px
  background #72A0C1
  border: 3px solid #72A0C1;