@import 'nib'

//Add some whitespace to the whole app
html, body
  margin .5em

//Make sure that images are fit to the column size
.image-col img
  max-width 100%
  text-align center
.center-col-contents
  max-width 100%
  text-align center

//Add this to the bootstrap class to center the column
.col-centered
  float none
  margin 0 auto

//At some point the page becomes too big, keep it max to 1200px
.application-container
  max-width 1200px
  margin 0 auto

.row-desc
  text-align right

.saleprice-circle-key
  float right
  border-radius 50%
  width 16px
  height 16px
  background #A52A2A
  border: 3px solid #A52A2A;

.normalprice-circle-key
  float right
  border-radius 50%
  width 16px
  height 16px
  background #72A0C1
  border: 3px solid #72A0C1;

.sale-price
  color #C3072D
  font-weight bold

.section-row-title
  background-color #A2A4C0
  color black
  font-weight bold
  font-size large
  text-align center

.index-image-col img
  height 8em
  text-align center

.top-buffer
  margin-top 2em

.page-title
  font-weight bold
  font-size large
  text-align center

.center-text
  text-align center

.navbar-collapse
  max-height 360px

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  .sidenav-toggle-button {
    position: absolute;
    float: left !important;
    left: -15px;
    z-index: 1;
  }
  .sidenav-toggle-button button {
    height: 42px;
  }
}