<div class="row">
	{{view App.PriceTrendView contentBinding="content"}}
</div>
<div class="row graph-key">
	<div class="row">
		<div class="col-xs-1  col-xs-offset-1"><div class="saleprice-circle-key"></div></div>
		<div class="col-xs-10">Sale Price Trend</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-xs-offset-1"><div class="normalprice-circle-key"></div></div>
		<div class="col-xs-10">Normal Price Trend</div>
	</div>
</div>